body {
    margin: 0;
    font-family: sans-serif;
    overflow-x: hidden;
    background-image: 
        url("LogoAndroid.svg"),
        linear-gradient(135deg, #0d1520, #266320);
    background-repeat: no-repeat, no-repeat;  /* para no rpetir la imagen del fondo */
    background-position: center center, center center;  /* para centar la imagn del fondo */
    background-size: 300px, cover; /* Me ayudo a ajustar el fondo y con ella la uimagen tambien se ajusta */
    background-attachment: fixed;
}

header {
    background: linear-gradient(260deg, rgb(255, 255, 255), rgb(121, 182, 121), rgb(121, 182, 121));
    padding: 10px 0;
    display: flex;
    justify-content: center;
}

.logo {
    width: auto;
    height: 50px;
}

nav {
    background-color: transparent;
    width: 80%;
    color: black;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

li {
    list-style-type: none;
    display: inline;
    margin-right: 5%;
    text-decoration: none;
    color: White;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

a {
    text-decoration: none;
    color: black;
}

hr {
    border: 0;
    height: 3px;
    background-color: rgb(210, 255, 202, 0.2);
    margin: 20px auto;
    width: 100%;
}

.quees {
    width: 80%;
    margin: 40px auto;
    padding: 30px;
    border-radius: 25px;
    background: rgba(34, 199, 28, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid rgba(30, 255, 0, 0.3);
    box-shadow: 
        0 8px 32px rgba(0, 0, 0, 0.1),
        inset 0 1px 0 rgba(255, 255, 255, 0.5),
        inset 0 -1px 0 rgba(255, 255, 255, 0.1),
        inset 0 0 0px 0px rgba(255, 255, 255, 0);
    position: relative;
    overflow: hidden;
    text-align: center;
}

h1 {
    color: white;
    font-size: 36px;
    margin-bottom: 20px;
}

h3 {
    color: white;
    font-size: 24px;
    margin-bottom: 10px;
    margin: 0px;
}

.ques {
    background-color: rgb(20, 95, 39);
    padding: 20px;
    border-radius: 10px;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.fundes {
    background-color: transparent;
    width: 80%;
    height: auto;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
}

.fundadores {
    background: rgba(34, 199, 28, 0.1);
    padding: 20px;
    border-radius: 10px;
    width: 40%;
    display: flex;
    flex-direction: column;
    text-align: center;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid rgba(30, 255, 0, 0.3);
    box-shadow: 
        0 8px 32px rgba(0, 0, 0, 0.1),
        inset 0 1px 0 rgba(255, 255, 255, 0.5),
        inset 0 -1px 0 rgba(255, 255, 255, 0.1),
        inset 0 0 0px 0px rgba(255, 255, 255, 0);
    position: relative;
    overflow: hidden;
}

.desarrolladores {
    background: rgba(34, 199, 28, 0.1);
    padding: 20px;
    border-radius: 10px;
    width: 40%;
    display: flex;
    flex-direction: column;
    text-align: center;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid rgba(30, 255, 0, 0.3);
    box-shadow: 
        0 8px 32px rgba(0, 0, 0, 0.1),
        inset 0 1px 0 rgba(255, 255, 255, 0.5),
        inset 0 -1px 0 rgba(255, 255, 255, 0.1),
        inset 0 0 0px 0px rgba(255, 255, 255, 0);
    position: relative;
    overflow: hidden;
}

.fun {
    background-color: rgb(20, 95, 39);
    padding: 20px;
    border-radius: 10px;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.des {
    background-color: rgb(20, 95, 39);
    padding: 20px;
    border-radius: 10px;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* LINEA DE TIEMPO */

.hex-container {
  display: flex;
  justify-content: center;
  gap: 15px;
  padding: 20px;
}

.hex {
  width: 100px; 
  height: 65px;
  background: #4a774b;
  border: none;
  cursor: pointer;
  transition: 0.3s ease;
  z-index: 1;
  align-items: center;
  text-align: center;
  justify-content: center;

  clip-path: polygon(
    25% 5%, 
    75% 5%, 
    100% 50%, 
    75% 95%, 
    25% 95%, 
    0% 50%
  );
}

.hex:hover {
  background: rgb(58, 180, 64);
  transform: scale(1.4);
}

.hex.active {
  transform: scale(1.8);
  background: rgb(120, 255, 127, 0.2);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
}

.hex:not(.active) {
  transform: scale(1.1);
}

img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 5px;
}

.timeline {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 60px 20px;
}

.timeline::before {
  content: "";
  position: absolute;
  height: 4px;
  width: 100%;
  background: linear-gradient(90deg, rgb(88, 209, 108), rgb(27, 163, 0), rgb(41, 128, 70), rgb(6, 80, 31));
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  z-index: 0;
}

.carousel-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 0px;
}

.carousel {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  gap: 20px;
  padding: 0 10%;
  margin-left: 30px;
  margin-right: 30px;
  scrollbar-width: none;
}

.carousel::-webkit-scrollbar {
  display: none;
}

.carousel section {
  flex: 0 0 70%;
  height: 500px;
  margin: 30px;
  background: rgb(51, 51, 51);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  scroll-snap-align: center;
  border-radius: 12px;
  transition: transform 0.3s ease;
  transition: ease-in 0.5s;
}

.carousel section.active-slide {
    transform: scale(1.1);
    transition: ease-in 0.5s;
    background: rgb(102, 168, 82, 0.5);
    backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 
        0 8px 32px rgba(0, 0, 0, 0.1),
        inset 0 1px 0 rgba(255, 255, 255, 0.5),
        inset 0 -1px 0 rgba(255, 255, 255, 0.1),
        inset 0 0 0px 0px rgba(255, 255, 255, 0);
}

.arrow.right, .arrow.left {
  transform: translateY(-50%);
  background: #51a75c;
  color: white;
  border: none;
  width: 35px;
  height: 35px;
  border-radius: 35px;
  padding: 15px;
  cursor: pointer;
  z-index: 2;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.verimg {
    width: 35%;
    height: 70%;
    margin: 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ver {
    display: flex;
    width: 60%;
    height: 70%;
    margin: 30px;
    background-color: rgb(20, 95, 39, 0.7);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    box-shadow: 0px 8px 32px rgba(119, 207, 138, 0.5);
}

.logover {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

ul {
    list-style-type: circle;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

h2 {
    color: white;
    margin-top: 20px;
    font-size: 30px;
}

p {
    color: white;
    margin-top: 10px;
    font-size: 15px;
    width: 80%;
    text-align: center;
    justify-content: center;
}

.fot {
    color: white;
    margin-top: 2px;
    font-size: 15px;
    width: 80%;
}

footer {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

/* CAMBIO DE PAGINA; TRANSICION */

@view-transition {
    navigation: auto;
}